<div class="container">
    <div class="profile">
        <img src="./assets/encomenda Milena 2.png" alt="Foto do Proprietário">
        <h2>Olá sou a Mitsuki!</h2>
        <p>Apaixonada por artesanato e recentemente mergulhei na arte da Impressão 3D. Minha jornada inclui a criação de peças em resina e detalhadas pinturas à mão.

            Embora seja nova nesta área, estou em constante aprimoramento para oferecer produtos de qualidade aos meus clientes. Espero que vocês se encantem com os Action Figures disponíveis em minha loja. E se não encontrar exatamente o que procura, estou aqui para ajudar. Entre em contato comigo e compartilhe suas ideias. Adoraria transformá-las em realidade e fornecer um orçamento personalizado.</p>
    </div>
</div>

