.container {
  margin: 50px auto 0;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.titulo {
  font-size: 32px;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.alert {
  margin-bottom: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}

.table tfoot th {
  font-weight: bold;
}

.btn {
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
  border: none;
}

.btn-success:hover {
  background-color: #218838;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

  .btn {
    padding: 0.2rem 1rem;
    position: relative;
    right: -1.6rem;
  }

}