.detalhe-container {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    margin: 50px auto 0;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.detalhe-img {
    width: 16rem;
    border-radius: 50px;
    max-width: 100%;
    border: 5px solid #ccc;
    margin-top: 20px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
}

.detalhe-descricao {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.content {
    flex: 1;
}

.button-container {
    position: absolute;
    bottom: 0;
    right: 0;
}