<div class="detalhe-container" *ngIf="esteProduto">
    <div>
        <img src="{{esteProduto.imagemProduto}}" alt="" class="detalhe-img">
    </div>
    <div class="detalhe-descricao">
        <div class="mt-24"> {{esteProduto.nome}} </div>
        <div class="mt-12 ml-24" [innerHTML]="esteProduto.descritivo"></div>
        <div class="button-container">
            <a href="index.html"> <button class="btn btn-light mr-12"> Voltar </button> </a>
            <button class="btn btn-success" (click)="comprar(esteProduto)"> Comprar </button>
        </div>
    </div>
</div>