body {
  grid-column: auto;
}

.produtos-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px
}

.img-produto {
  transition: transform 0.3s ease-in-out;
  width: 14rem;
  border-radius: 50px;
}

/* .img-produto:hover {
  transform: scale(1.03);
} */

.info-produto {
  margin: 24px 0px;
  color: white;
}

.produto-card {
  padding: 24px;
  BACKGROUND-COLOR: rgb(244, 244, 244, 0.1);
  border-radius: 4%;
}

.item-nome {
  text-align: left;
  font-family: 'Frank Ruhl Libre';
}

.item-valor {
  text-align: left;
  font-family: 'Frank Ruhl Libre';
  padding: 5px;
}

.comprar {
  display: inline-block;
  padding: 10px 20px;
  font-family: 'Frank Ruhl Libre';
  font-size: 1.5rem;
  background-color: #7a7979;
  color: #fff;
  border: 2px solid #585858;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
  display: block;
}

.comprar:hover {
  background-color: #535353;
}

.pesquisar-container {
  top: 80px;
  left: 100px;
  right: 0;
  margin: auto;
  font-family: 'Frank Ruhl Libre';
}

.container-body {
  display: flex;
  flex-direction: column;
}

.menu-nav-bar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}