.login {

    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #7a7979;
    color: #fff;
    border: 2px solid #585858;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #fff;
    text-decoration: none;

}

a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.login:hover {
    background-color: #535353;
  }

.pesquisar-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 100px;
    right: 0;
    margin: auto; 
    font-family: 'Frank Ruhl Libre';
}

.pesquisa {
    background-color: #7a7979;
    color: #fff;
    border: 2px solid #585858;
    border-radius: 50px;
    right: 2rem;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #fff;
    text-decoration: none;
    width: 3rem;
    height: 3rem;
}

.pesquisa:hover {
    background-color: #535353;
  }

input {
    width: 40rem; 
    height: 3rem;
   font-size: 16px; 
   border-radius: 100px;
}

input::placeholder {
  position: relative;
  left: 40px;
}

body {
    background-image: url(./assets/stars-964022_1920.png);
    flex-direction: column;
    min-height: calc(100vh - 100px);
    margin-bottom: 100px;
  
  }


.container {
  flex: 1; 
  position: relative;
}

  .logo {
    width: 16%;
    border: 2px solid #dfbfe4;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    bottom: 40px;
    top: 10px;
    left: 10px;
    margin-bottom: 5%;
    z-index: 999;
    transition: transform 0.3s ease-in-out, border-width 0.3s ease-in-out; 
  }

  .logo:hover {
    transform: scale(1.03);
    border-width: 6px;
  }

  header {
    background-color: rgba(42, 7, 48, 0.7); /* Cor de fundo do cabeçalho com 50% de transparência */
    padding: 0.4rem; 
    width: auto;
}

  .cesta {
    position: absolute;
    top: 5rem; 
    right: 2rem; 
    background-color: #7a7979;
    color: #fff;
    border: 2px solid #585858;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #fff;
    text-decoration: none;
  }

  .cesta:hover {
    background-color: #535353;
  }

 
footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 5px;
  width: 100%;
  position: fixed;
  bottom: 0;
}


footer p {
  margin: 0;
}

.botoes-menu {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -70px; /* Move um pouco para cima */
}

.botao-menu {
  background-color: #7a7979;
  color: #fff;
  border: 2px solid #585858;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 25px; /* Adiciona espaço entre os botões */
}

.botao-menu:hover {
  background-color: #535353;
}

.mt-24 {
  margin-top: 24px;
}

.mr-24 {
  margin-right: 24px;
}

.ml-24 {
  margin-left: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mt-12 {
  margin-top: 12px;
}

.mr-12 {
  margin-right: 12px;
}

.ml-12 {
  margin-left: 12px;
}

.mb-12 {
  margin-bottom: 12px;
}

/* Adicionando regras de mídia query para dispositivos móveis */
@media only screen and (max-width: 600px) {
  /* Ajuste do logotipo */
  .logo {
    width: 30%;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 3%;
  }

  /* Ajuste do cabeçalho */
  header {
    padding: 0.2rem;
  }

  /* Ajuste da cesta */
  .cesta {
    top: 5rem;
    right: 1rem;
  }

  /* Ajuste dos botões do menu */
  .botoes-menu {
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }

  /* Ajuste do tamanho dos botões do menu */
  .botao-menu {
    padding: 8px 15px;
    margin: 0 15px;
  }

  /* Esconder a barra de pesquisa */
  .pesquisar-container {
    display: none;
  }

  /* Ajuste do perfil de login */
  .login {
    top: 5px;
    right: 5px;
    padding: 8px 15px;
    position: absolute;
  }


  .botao-menu {
    margin: 0 100px; /* Adiciona espaço entre os botões */
  }

}

